<!-- <footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>wanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/term">Terms</a>
        </div>
    </div>
</footer> -->
<!-- Add this in the <head> to use Font Awesome --> 
<!-- /> -->


<!-- Footer -->
<footer class="bg-secondary text-white pt-4 pb-2 mt-5">
  <div class="container text-center text-md-start">
    <div class="row align-items-center">

      <!-- Social Icons -->
      <div class="col-md-6 mb-3 mb-md-0 text-center text-md-start">
        <a href="#" class="text-white me-3">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="#" class="text-white me-3">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="#" class="text-white me-3">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="#" class="text-white">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>

      <!-- Links -->
      <div class="col-md-6 text-center text-md-end">
        <a href="#" class="text-white text-decoration-none me-3">Privacy Policy</a>
        <a href="#" class="text-white text-decoration-none">Terms & Conditions</a>
      </div>
    </div>

    <hr class="border-top border-emphasis my-3" />

    <!-- Copyright -->
    <div class="text-center small">
      &copy; 2025 WanderLust Private Limited. All rights reserved.
    </div>
  </div>
</footer>
